@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Josefin+Sans&family=Merriweather&family=Patua+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
